.calendar-date-selector {
  display: flex;
  justify-content: space-between;
  width: 80px;
  color: gray;
  margin-right: 24px;
  margin-top: 14px;
  margin-bottom: 14px;
}

.calendar-date-selector>* {
  cursor: pointer;
  user-select: none;
}