.calendar-card {
  border: 1px solid #D9DBDE;
  border-radius: 4px;
  padding: 6px 8px 6px 8px;
  text-align: left;
  color: #062E47;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 13px;
  font-weight: 600;
}