.create-page-modal__header {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid $color-neutral-200;
}

.create-page-modal__controls {
  display: flex;
  justify-content: flex-end;
}
