.elements-context {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 300px;
}

.elements-context__search {
  color: $color-neutral-200;
  padding: 0 10px 10px 10px;
  border-bottom: 1px solid $color-neutral-200;
}
