.grid-field-date {
  display: flex;
  width: 100%;
}

%grid-field-date__date {
  flex: 0 0 100%;
  width: 100%;

  .grid-field-date--has-time & {
    width: 60%;
    flex-basis: 60%;
  }

  .grid-field-date--has-tzinfo & {
    width: 80%;
    flex-basis: 80%;
  }

  .grid-field-date--has-time.grid-field-date--has-tzinfo & {
    width: 50%;
    flex-basis: 50%;
  }
}

%grid-field-date__time {
  flex: 0 0 30%;
  width: 30%;
  padding-left: 0;
}

%grid-field-date__tzinfo {
  flex: 0 0 20%;
  width: 20%;
  padding-left: 0;
}

.grid-field-date__date {
  @extend .grid-field-text;
  @extend %grid-field-date__date;
}

.grid-field-date__time {
  @extend .grid-field-text;
  @extend %grid-field-date__time;
}

.grid-field-date__tzinfo {
  @extend .grid-field-text;
  @extend %grid-field-date__tzinfo;

  color: $color-neutral-500;
  font-size: 0.8em;
}

.grid-field-date__date-input {
  @extend .grid-field-text__input;
  @extend %grid-field-date__date;

  min-width: 0;
}

.grid-field-date__time-input {
  @extend .grid-field-text__input;
  @extend %grid-field-date__time;

  min-width: 0;
}
